html, body {
    font-family: Century Gothic, sans-serif;
	height:100%;
	width:100%;
	background-color: black;
	margin:0;
	font-size:18px;
	overflow:hidden;
}
img {
	width: 130px;
    height: 150px;
}
#calendar{
	background-color:white;
	height:85%;
	margin-top:3%;
	margin-left:5%;
    margin-right:5%;
    max-width: 900px;
    overflow:scroll;
}
#list_crs{
    padding-left:3%;
	margin-top:3%;
	background-color:white;
	height:85%;
	margin-left:5%;
    margin-right:5%;
    max-width: 900px;
    overflow:scroll;	
}
#settings{
    padding-left:3%;
	background-color:white;
	height:85%;
	margin-left:5%;
    margin-right:5%;
    max-width: 900px;
    overflow:scroll;
}
#info_list{
	float:right;
	height:100%;
	width:30%;
	color:red;
}
#bTT{
	height:85%;
	background: white;
	color:#01FF70;
	margin-top:3%;
	margin-left:5%;
    margin-right:5%;
}
#new_sem,#new_crs,#new_lss{
	display:none;
}
#plus_crs{
	
}
.mster,.crs ,.lss{
	display:none;
	margin:0;
}
.mster_lbl{
    background: linear-gradient(#C7D3DC,#5B798E); 
    transition: background 1s ease-out;  
    background-size:1px 200px;  
	
	height:5%;
	width:100%;
	color:black;
	display:inline-block;
	text-align:center;
	font-size:1em;
	margin:0;
}
.mster_lbl:Hover,.crs_lbl:Hover,.lss_lbl:Hover{  
    background-position:100px;  
}  
.crs_filler,.lss_filler{
	height:5%;
	width:100%;
	float:left;
	color:black;
	display:inline-block;
	text-align:center;
	font-size:1em;
	background: linear-gradient(#C7D3DC,#5B798E); 
	background-size:1px 200px;
	border-style:none;
}
.crs_lbl,.lss_lbl{
	background: linear-gradient(#C7D3DC,#5B798E); 
    transition: background 1s ease-out;  
    background-size:1px 200px;  
	
	height:5%;
	width:100%;
	float:left;
	color:black;
	display:inline-block;
	text-align:center;
	font-size:1em;
}
#myForm{	
	width:100%;
	height:100%;
	float:left;
}
#Semeters{
	width:10%;
	height:100%;
	float:left;
}
#Courses,#Lessons{
	height:100%;
	width:10%;
	float:left;
	display:none;
}
#crs_days{
	display:inline;
	font-size:15px;
	color:black;
}
#sett_tabs{
    color:white;
    margin-top:1%;
    padding:0px;
    margin-left:5%;
}
#sett_tabs > div{
    padding:3px;
    margin-right: 1px;
    border-color:white;
    border-width:1px;
    border-style:solid;
    display:inline;
    background-color:#c0c0c0;
    cursor:pointer;
    
}
#sett_tabs > .active {
    background-color:white;
    color:black;
}
#export_test,#import_test{
	display:inline;
	border-style:solid;
	border-color:gery;
	border-width:1px;
	margin:5px;
	cursor:pointer;
}
#exp_text{
	border-bottom-style:solid;
	border-bottom-color:black;
	border-bottom-width:2px;
	margin-left:5px;
}
#logo{
	font-weight: bold;
	background:linear-gradient(to top,white,#dedede);
	width:100%;
	height:5%;
}
#logo h1 {
	color:black;
	text-align: center;
}
#menu_overlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 10;
}
#menu{
	display: none;
	position: fixed;
	background: #f2f2f2;
	border-color:grey;
	width:25%;
	height:95%;
	z-index: 10;
}
#menu_header{
    height:5%;
    width:100%;
}
#menu_body{
    height:95%;
    width:100%;
}
#menu_body > div{
    font-size:1em;
    text-align: center;
    height:10%;
    border-style:solid;
    border-color:white;
    border-width:thin;
    cursor:pointer;
}
#menu_b{
	cursor:pointer;
	position: fixed;
	text-align:center;
	background: black;
	background:linear-gradient(to top,white,#dedede);
	width:5%;
	height:5%;
}
h2{
	font-size:1em;
	margin-top:0.5em;
}
#dialogbox > div{ 
	background:#f7ffff; 
	margin:8px; 
}
#dialogbox > div > #dialogboxhead{		/*	Head	*/
	background: #f7ffff;
	font-size:19px;
	padding:10px;
	color:black; 
}
#dialogbox > div > #dialogboxbody{		/*	Body	*/
	background: #e5ffff;
	padding:20px;
	color:black; 
}
#dialogbox > div > #dialogboxfoot{		/*	foot	*/
	background:#f7ffff;
	padding:10px;
	text-align:right;
}
#welcome_msg > div{ 
	background:#f7ffff; 
	margin:8px; 
}
#welcome_msg > div > #welcome_msg_head{		/*	Head	*/
	background: #f7ffff;
	font-size:19px;
	padding:10px;
	color:black; 
}
#welcome_msg > div > #welcome_msg_body{		/*	Body	*/
	background: #e5ffff;
	padding:20px;
	color:black; 
}
#welcome_msg > div > #welcome_msg_foot{		/*	foot	*/
	background:#f7ffff;
	padding:10px;
	text-align:right;
}
#colorPick{

}
#given_theme{
   
}
#basic_theme{
   
}
#adnc_theme{
   padding-top:15px;
}
#black,#red,#blue{
    margin-left:5px;
    border-bottom-style:solid;
    border-bottom-color:grey;
    border-bottom-width:1px;
    cursor:pointer;
}
.lbl_opt{
	margin-left:20px;
	
}

#theme_apply {
	position: relative;
	vertical-align: top;
	width: 9%;
	height: 5%;
	padding: 0;
	margin-left:3%;
	font-size: 22px;
	color: white;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	background: #f1c40f;
	border: 0;
	border-bottom: 2px solid #e2b607;
	cursor: pointer;
	-webkit-box-shadow: inset 0 -2px #e2b607;
	box-shadow: inset 0 -2px #e2b607;
}
#b_next  {
    border-radius: 5px;
  padding: 10px 20px;
  font-size: 0.7em;
  text-decoration: none;
  margin: 5px;
  color: #fff;
  position: relative;
  display: inline-block;
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
  float:right;
}
#b_next:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
#b_next:hover {
  background-color: #6FC6FF;
}
#info_hover{
	z-index:4000;
	background-color:white;
	position: absolute;
    top: 0;
    left:0;
    width: 150px;
    height: 250px;
    border: 1px solid white;
	display:none;
	padding-left:10px;
	padding-right:10px;
	border-color:black;
}
#rmv_event{
	height:10%;
	padding-left:5%;
	padding-right:5%;
	position:absolute;
	margin-top:180px;
	margin-left:10%;
	cursor:pointer;
	border-style:solid;
	border-color:white;
	border-width:1px;
}
h4{
	font-size:16px;
	margin-top:0px;
	padding:0px;
	border-bottom-style:solid;
	border-bottom-color:white;
	border-bottom-width:1px;
}
#close_info{
	z-index:9999;
	color:black;
	position: absolute;
    top: 0px;
    left:155px;
    width: 20px;
    height: 20px;
	padding-left:3px;
	padding-right:0px;
	display:none;
	cursor:pointer;
}
#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #FFF;
	width: 100%;
	z-index: 100;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #dfecec;
	border-radius:5px; 
	border-style: solid;
	border-color:grey;
	width:550px;
	z-index: 10;
}
#dialogbox > div{ 
	background:#f7ffff; 
	margin:8px; 
}
#dialogbox > div > #dialogboxhead{		/*	Head	*/
	background: #f7ffff;
	font-size:19px;
	padding:10px;
	color:black; 
}
#dialogbox > div > #dialogboxbody{		/*	Body	*/
	background: #e5ffff;
	padding:20px;
	color:black; 
}
#dialogbox > div > #dialogboxfoot{		/*	foot	*/
	background:#f7ffff;
	padding:10px;
	text-align:right;
}
  